In [1]:
print "tcloud", type("tcloud")

tcloud <type 'str'>

In [2]:
print 'tcloud', type('tcloud')

tcloud <type 'str'>

In [3]:
a = "tcloud "it" pvt ltd"

SyntaxError: invalid syntax (<ipython-input-3-02160fd6c41e>, line 1)

In [4]:
a = "tcloud 'it' pvt ltd"
print a

tcloud 'it' pvt ltd

In [5]:
b = 'tcloud 'it' pvt ltd'

SyntaxError: invalid syntax (<ipython-input-5-ae071f7afd96>, line 1)

In [6]:
b = 'tcloud "it" pvt ltd'
print b

tcloud "it" pvt ltd

In [7]:
c = "fuehu7437384!#@$#%#$%$^&^*()''jfjnjerrre]r][;'\\|?><~!@']"
print c, type(c)

fuehu7437384!#@$#%#$%$^&^*()''jfjnjerrre]r][;'\|?><~!@'] <type 'str'>

In [9]:
a = "tcloud"
print a, type(a)
print dir(a)

tcloud <type 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getslice__', '__gt__', '__hash__', '__init__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '_formatter_field_name_split', '_formatter_parser', 'capitalize', 'center', 'count', 'decode', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isdigit', 'islower', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [10]:
print a.capitalize()

Tcloud

In [11]:
print help(a.capitalize)

Help on built-in function capitalize:

capitalize(...)
    S.capitalize() -> string

    Return a copy of the string S with only its first character
    capitalized.

None

In [12]:
print help(a.center)

Help on built-in function center:

center(...)
    S.center(width[, fillchar]) -> string

    Return S centered in a string of length width. Padding is
    done using the specified fill character (default is a space)

None

In [13]:
print a.center(20)
print a.center(40)

       tcloud
                 tcloud

In [14]:
print a.center(20, '*')

*******tcloud*******

In [15]:
print a.center(40, "#")

#################tcloud#################

In [ ]:
#somemethod(u,v)

#somemethod(1,2)

In [ ]:
#somemethod(u[,v])

#somemethod(1)
#somemethod(1,2)

In [ ]:
#somemethod(u[,v[,w]])

#somemethod(1)
#somemethod(1,2)
#somemethod(1,2,3)

In [ ]:
#somemethod(u[,v,w])

#somemethod(1)
#somemethod(1,2,3)

In [ ]:
#somemethod(u[,v,w[,x,y]])

#somemethod(1)
#somemethod(1,2,3)
#somemethod(1,2,3,4,5)

In [ ]:
#somemethod(u[,v[,w[,x[,y]]]])

#somemethod(1)
#somemethod(1,2)
#somemethod(1,2,3)
#somemethod(1,2,3,4,5)
#somemethod(1,2,3,4,5)

In [16]:
a = "tcloud it private limited, hyderabad, india, world, universe"

In [17]:
print help(a.count)

Help on built-in function count:

count(...)
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are interpreted
    as in slice notation.

None

In [18]:
print a.count('it')

2

In [19]:
print len(a) #0-58

59

In [20]:
print a.count('it', 12)

1

In [21]:
print a.count('it', 30, 40)

0

In [22]:
a = "tcloud" #+ve index: 0,1,2,3,4,5 -ve index: -6,-5,-4,-3,-2,-1

In [23]:
#slicing Operation

In [24]:
print a[3]

o

In [25]:
print a[-3]

o

In [26]:
print a[1], a[-1]

c d

In [27]:
print a[6]

IndexError: string index out of range

In [28]:
print a[0:3] #index 0 till index 3(3 won;t be included) = 0,1,2

tcl

In [29]:
print a[0:4] #0,1,2,3

tclo

In [31]:
print a[3:5]

ou

In [32]:
print a[3:]

oud

In [33]:
print a[:3]

tcl

In [34]:
print a[:]

tcloud

In [35]:
#this slicing operating is read-only

In [36]:
print a[3]

o

In [37]:
a[3] = 'k'

TypeError: 'str' object does not support item assignment

In [38]:
#the objects which won't support item assigments are called immutable objects

In [39]:
k = 10
k[1] = 5

TypeError: 'int' object does not support item assignment

In [40]:
k = 15 #re-assigment of the entire value

In [41]:
print k

15

In [42]:
k = k+25
print k

40

In [43]:
print k[0]

TypeError: 'int' object has no attribute '__getitem__'

In [44]:
l = 4364873473 #for these numbers index value won't be assigned by python
print l[5]

TypeError: 'int' object has no attribute '__getitem__'

In [46]:
l = '4364873473' #for these numbers index values are assigned
print l[5], type(l[5])

7 <type 'str'>

In [47]:
#how to modify a string

In [48]:
b = "Tcloud"
print b
b = "Ocloud" #re-assignment
print b

Tcloud
Ocloud

In [49]:
#Decorate the string that you want to modify with % characters or {} and use string formating

In [51]:
c = "%scloud"
print c%'t'
print c%'O'
print c%'z'

tcloud
Ocloud
zcloud

In [52]:
d = "{}cloud"
print d.format('t')
print d.format('O')
print d.format('z')

tcloud
Ocloud
zcloud

In [53]:
e = "tcloud"
f = " it"
g = ' pvt ltd'

print e+f+g

tcloud it pvt ltd

In [54]:
e = "tcloud"
f = "it"
g = 'pvt ltd'

print e+f+g

tclouditpvt ltd

In [55]:
x = 20
y = 30
print x+y

50

In [56]:
x = '20'
y = "30"
print x+y

2030

In [57]:
print x.__add__(y)

2030