# <font color =#008080, align = center>**TCLOUD INFORMATION TECHNOLOGIES PVT LTD**</font> 
> PYTHON LANGUAGE NOTES: (C)2018-19: TCLOUD IT PVT LTD <br>
> URL: www.tcloudtech.com, PHONE: +919666921555 <br>

In [1]:
#Strings:Sequence of Character Data(Characters+ Special Characters + Numbers) with some exceptions
#Represented in between two ""(double quotes) [or] two ''(single quotes)

print "Tcloud IT", type("Tcloud IT")
print "TCLOUD123", type("TCLOUD123")
print 'Tcloud!@#$%^&*()-_+=`~:;<,>.?/|[]{}', type('Tcloud!@#$%^&*()-_+=`~:;<,>.?/|[]{}')
print '', type('')
print "", type("")

Tcloud IT <type 'str'>
TCLOUD123 <type 'str'>
Tcloud!@#$%^&*()-_+=`~:;<,>.?/|[]{} <type 'str'>
 <type 'str'>
 <type 'str'>

In [3]:
# Whenever a string should contain a single quote or double quote use the opposite!

print "I Want to Print TCLOUD with single quotes 'TCLOUD' like this"
print 'I Want to Print TCLOUD with Double quotes "TCLOUD" like this'

I Want to Print TCLOUD with single quotes 'TCLOUD' like this
I Want to Print TCLOUD with Double quotes "TCLOUD" like this

In [4]:
print "I Want to Print TCLOUD with single quotes "TCLOUD" like this"

# this Will Fail as Double in Double won't work!!

SyntaxError: invalid syntax (<ipython-input-4-08ca6abf468e>, line 1)

In [5]:
print 'I Want to Print TCLOUD with single quotes 'TCLOUD' like this'

# this Will Fail as Single in Single won't work!!

SyntaxError: invalid syntax (<ipython-input-5-e2997336d350>, line 1)

In [7]:
print "TCLOUD () IT", type("TCLOUD () IT")
print ("TCLOUD IT"), type("TCLOUD IT")
print (""), type("")

TCLOUD () IT <type 'str'>
TCLOUD IT <type 'str'>
 <type 'str'>

In [1]:
a = "tcloud"

print a
print type(a)

tcloud
<type 'str'>

In [2]:
a = "tcloud"     # +ve Index ==> [0=t, 1=c, 2=l, 3=o, 4=u, 5=d] , -Ve Index ==> [-6=t, -5=c ,-4=l , -3=o, -2=u, -1=d]
print type(a)
print a[1]
print a[4]
print a[-1]
print a[-4]
print a[-6]

print a[3]
print a[-3]

#a[3] = 'k'      #'str' object does not support item assignment

<type 'str'>
c
u
d
l
t
o
o

In [3]:
#String Slicing Operation with :

a = "tcloud it"

print a[1]
print a[1:6]
print a[7:9]
print a[4:]
print a[:6]

c
cloud
it
ud it
tcloud

In [ ]:
#String Methods

In [4]:
a = "tcloud"
print help(a.capitalize)
print a.capitalize()

Help on built-in function capitalize:

capitalize(...)
    S.capitalize() -> string

    Return a copy of the string S with only its first character
    capitalized.

None
Tcloud

In [5]:
a = "tcloud"
print help(a.center) 

print a.center(6)
print a.center(10)
print a.center(10, '*')
print a.center(40, '#')

Help on built-in function center:

center(...)
    S.center(width[, fillchar]) -> string

    Return S centered in a string of length width. Padding is
    done using the specified fill character (default is a space)

None
tcloud
  tcloud
**tcloud**
#################tcloud#################

In [6]:
a = "tcloud information technologies private limited"
print help(a.count) 

print a.count('lo')        #lo is present two times 1)in tcloud 2) in technologies
print a.count('i' , 10)    #After 10th index Position substring 'i' is present 5 Times
print a.count('i', 10, 35) # Between 10th and 35th Index positions, substring 'i' is present 3 times

Help on built-in function count:

count(...)
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are interpreted
    as in slice notation.

None
2
5
3

In [7]:
#String Encoding

a = "tcloud"
b = "special Character now Ã¥"
print help(a.encode)

print a.encode()
print a.encode('utf_8')
print a.encode('base64')

#print b.encode()

Help on built-in function encode:

encode(...)
    S.encode([encoding[,errors]]) -> object

    Encodes S using the codec registered for encoding. encoding defaults
    to the default encoding. errors may be given to set a different error
    handling scheme. Default is 'strict' meaning that encoding errors raise
    a UnicodeEncodeError. Other possible values are 'ignore', 'replace' and
    'xmlcharrefreplace' as well as any other name registered with
    codecs.register_error that is able to handle UnicodeEncodeErrors.

None
tcloud
tcloud
dGNsb3Vk

In [8]:
#String Decoding

a = "tcloud information technologies private limited"
print help(a.decode)

Help on built-in function decode:

decode(...)
    S.decode([encoding[,errors]]) -> object

    Decodes S using the codec registered for encoding. encoding defaults
    to the default encoding. errors may be given to set a different error
    handling scheme. Default is 'strict' meaning that encoding errors raise
    a UnicodeDecodeError. Other possible values are 'ignore' and 'replace'
    as well as any other name registered with codecs.register_error that is
    able to handle UnicodeDecodeErrors.

None

In [9]:
a = "tcloud information technologies private limited"
print help(a.endswith)

print a.endswith('limited')
print a.endswith('limited' , 10, 17) # is this suffix 'limited' present between index values 10 and 17 - no!!

Help on built-in function endswith:

endswith(...)
    S.endswith(suffix[, start[, end]]) -> bool

    Return True if S ends with the specified suffix, False otherwise.
    With optional start, test S beginning at that position.
    With optional end, stop comparing S at that position.
    suffix can also be a tuple of strings to try.

None
True
False

In [10]:
a = "tcloud information technologies private limited"
print help(a.expandtabs)

print a.expandtabs() #Inserting tab only workds in a python program only. doesn't work in jupyter notebook!

Help on built-in function expandtabs:

expandtabs(...)
    S.expandtabs([tabsize]) -> string

    Return a copy of S where all tab characters are expanded using spaces.
    If tabsize is not given, a tab size of 8 characters is assumed.

None
tcloud information technologies private limited

In [11]:
a = "tcloud information technologies private limited"
print help(a.find)

print a.find('lo') #'lo' substring starts from index position 2
print a.find('lo' , 15) #If search starts at index position 15, 'lo' substring starts found is in index position 25!
print a.find('lo', 15, 24) #returns -1 as 'lo' substring can't be found between index position 15 to 24!

Help on built-in function find:

find(...)
    S.find(sub [,start [,end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

None
2
25
-1

In [12]:
a = "tcloud {} technologies {} limited"
b = "tcloud {0} technologies {1} limited"
c = "tcloud {0} technologies {0} limited"
print help(a.format)

print a.format('information', 'private') #'information' and 'private' substitutes {} and {} in the string
print b.format('information', 'private') #'information' and 'private' substitutes {0} and {1} in the string. By Default the indexing is {0} and {1} only
print c.format('information', 'private') #'information' gets repeated twice as both substitutes refer to 0th index with {0}

Help on built-in function format:

format(...)
    S.format(*args, **kwargs) -> string

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

None
tcloud information technologies private limited
tcloud information technologies private limited
tcloud information technologies information limited

In [13]:
a = "tcloud information technologies private limited"
print help(a.index)

print a.index('private') #'private' substring is found in index position 32!

Help on built-in function index:

index(...)
    S.index(sub [,start [,end]]) -> int

    Like S.find() but raise ValueError when the substring is not found.

None
32

In [14]:
a = "tcloud"
b = "abcd123"
print help(a.isalnum)

print a.isalnum()
print b.isalnum()

Help on built-in function isalnum:

isalnum(...)
    S.isalnum() -> bool

    Return True if all characters in S are alphanumeric
    and there is at least one character in S, False otherwise.

None
True
True

In [15]:
a = "tcloud"
b = "abcd123"
print help(a.isalpha)

print a.isalpha()
print b.isalpha()

Help on built-in function isalpha:

isalpha(...)
    S.isalpha() -> bool

    Return True if all characters in S are alphabetic
    and there is at least one character in S, False otherwise.

None
True
False

In [16]:
a = "tcloud123"
b = "123"
print help(a.isdigit)

print a.isdigit()
print b.isdigit()

Help on built-in function isdigit:

isdigit(...)
    S.isdigit() -> bool

    Return True if all characters in S are digits
    and there is at least one character in S, False otherwise.

None
False
True

In [17]:
a = "tcloud"
b = "Tcloud"
print help(a.islower)

print a.islower()
print b.islower()

Help on built-in function islower:

islower(...)
    S.islower() -> bool

    Return True if all cased characters in S are lowercase and there is
    at least one cased character in S, False otherwise.

None
True
False

In [18]:
a = "tcloud"
b = "      "
print help(a.isspace)

print a.isspace()
print b.isspace()

Help on built-in function isspace:

isspace(...)
    S.isspace() -> bool

    Return True if all characters in S are whitespace
    and there is at least one character in S, False otherwise.

None
False
True

In [19]:
a = "Tcloud Information Technologies Pvt Ltd"
b = "Tcloud information technologies pvt ltd"
c = "tcloud information technologies pvt ltd"
print help(a.istitle)

print a.istitle()
print b.istitle()
print c.istitle()

Help on built-in function istitle:

istitle(...)
    S.istitle() -> bool

    Return True if S is a titlecased string and there is at least one
    character in S, i.e. uppercase characters may only follow uncased
    characters and lowercase characters only cased ones. Return False
    otherwise.

None
True
False
False

In [20]:
a = "Tcloud"
b = "TCLOUD"
print help(a.isupper)

print a.isupper()
print b.isupper()

Help on built-in function isupper:

isupper(...)
    S.isupper() -> bool

    Return True if all cased characters in S are uppercase and there is
    at least one cased character in S, False otherwise.

None
False
True

In [21]:
a = "123"
b = "abc"
c = "1234"
d = "tcloud"
e = "IT"
print help(a.join)

print a.join(b)
print b.join(a)

print b.join(c)
print c.join(b)

print e.join(d)

Help on built-in function join:

join(...)
    S.join(iterable) -> string

    Return a string which is the concatenation of the strings in the
    iterable.  The separator between elements is S.

None
a123b123c
1abc2abc3
1abc2abc3abc4
a1234b1234c
tITcITlIToITuITd

In [22]:
a = "TCLOUD"
print help(a.ljust)

print a.ljust(10)       #string gets placed in a 10 space string stucture with left alignment and spaces on the right
print a.ljust(10, '*')  #string gets placed in a 10 space string stucture with left alignment and * on the right
print a.ljust(10, '#')  #string gets placed in a 10 space string stucture with left alignment and # on the right

Help on built-in function ljust:

ljust(...)
    S.ljust(width[, fillchar]) -> string

    Return S left-justified in a string of length width. Padding is
    done using the specified fill character (default is a space).

None
TCLOUD
TCLOUD****
TCLOUD####

In [23]:
a = "TCLOUD"
print help(a.lower)

print a.lower()

Help on built-in function lower:

lower(...)
    S.lower() -> string

    Return a copy of the string S converted to lowercase.

None
tcloud

In [24]:
a = "          TCLOUD  IT      "
print help(a.lstrip)

print a.lstrip()

Help on built-in function lstrip:

lstrip(...)
    S.lstrip([chars]) -> string or unicode

    Return a copy of the string S with leading whitespace removed.
    If chars is given and not None, remove characters in chars instead.
    If chars is unicode, S will be converted to unicode before stripping

None
TCLOUD  IT

In [25]:
a = "Tcloud Information Technologies Private Limited"
print help(a.partition)

print a.partition('Technologies')

Help on built-in function partition:

partition(...)
    S.partition(sep) -> (head, sep, tail)

    Search for the separator sep in S, and return the part before it,
    the separator itself, and the part after it.  If the separator is not
    found, return S and two empty strings.

None
('Tcloud Information ', 'Technologies', ' Private Limited')

In [26]:
a = "Tcloud Information Technologies Private LTD"
b = "Telecom is a Technology with enormous R&D scope. TCLOUD is a Telecom Technology Company. TCLOUD Stands for Telecom Cloud"
print help(a.replace)

print a.replace('Private', 'PVT')
print b.replace('Telecom', 'TELECOM', 2) #Only forst two Instances will be replaced out of available 3 Instances

Help on built-in function replace:

replace(...)
    S.replace(old, new[, count]) -> string

    Return a copy of string S with all occurrences of substring
    old replaced by new.  If the optional argument count is
    given, only the first count occurrences are replaced.

None
Tcloud Information Technologies PVT LTD
TELECOM is a Technology with enormous R&D scope. TCLOUD is a TELECOM Technology Company. TCLOUD Stands for Telecom Cloud

In [27]:
a = "Tcloud Information Technologies Private Limited"
print help(a.rfind)

print a.rfind("lo") #lo is avaible at index positions 2 and 25. Highest Index 25 is returned! 
print a.rfind("hyderabad") # returns -1

Help on built-in function rfind:

rfind(...)
    S.rfind(sub [,start [,end]]) -> int

    Return the highest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

None
25
-1

In [28]:
a = "Tcloud Information Technologies Private Limited"
print help(a.rindex)

print a.rindex('lo')
#print a.rindex("hyderabad") #returns #valueError as substring "hyderabad" is not present

Help on built-in function rindex:

rindex(...)
    S.rindex(sub [,start [,end]]) -> int

    Like S.rfind() but raise ValueError when the substring is not found.

None
25

In [29]:
a = "TCLOUD"
print help(a.rjust)

print a.rjust(10)       #string gets placed in a 10 space string stucture with right alignment and spaces on the left
print a.rjust(10, '*')  #string gets placed in a 10 space string stucture with right alignment and * on the left
print a.rjust(10, '#')  #string gets placed in a 10 space string stucture with right alignment and # on the left

Help on built-in function rjust:

rjust(...)
    S.rjust(width[, fillchar]) -> string

    Return S right-justified in a string of length width. Padding is
    done using the specified fill character (default is a space)

None
    TCLOUD
****TCLOUD
####TCLOUD

In [30]:
a = "Tcloud IT Private Limited"
print help(a.rpartition)

print a.rpartition('IT')          #substring 'IT' is present
print a.rpartition('Technology')  #substring 'Technology' is not present

Help on built-in function rpartition:

rpartition(...)
    S.rpartition(sep) -> (head, sep, tail)

    Search for the separator sep in S, starting at the end of S, and return
    the part before it, the separator itself, and the part after it.  If the
    separator is not found, return two empty strings and S.

None
('Tcloud ', 'IT', ' Private Limited')
('', '', 'Tcloud IT Private Limited')

In [31]:
a = "Tcloud IT Private Limited"
print help(a.rsplit)

print a.rsplit()
print a.rsplit('IT')          #substring 'IT' is present
print a.rsplit('Technology')  #substring 'Technology' is not present

Help on built-in function rsplit:

rsplit(...)
    S.rsplit([sep [,maxsplit]]) -> list of strings

    Return a list of the words in the string S, using sep as the
    delimiter string, starting at the end of the string and working
    to the front.  If maxsplit is given, at most maxsplit splits are
    done. If sep is not specified or is None, any whitespace string
    is a separator.

None
['Tcloud', 'IT', 'Private', 'Limited']
['Tcloud ', ' Private Limited']
['Tcloud IT Private Limited']

In [32]:
a = "          TCLOUD  IT      "
print help(a.rstrip)

print a.rstrip()

Help on built-in function rstrip:

rstrip(...)
    S.rstrip([chars]) -> string or unicode

    Return a copy of the string S with trailing whitespace removed.
    If chars is given and not None, remove characters in chars instead.
    If chars is unicode, S will be converted to unicode before stripping

None
          TCLOUD  IT

In [33]:
a = "Tcloud IT Private Limited"
print help(a.split)

print a.split()
print a.split('IT')

Help on built-in function split:

split(...)
    S.split([sep [,maxsplit]]) -> list of strings

    Return a list of the words in the string S, using sep as the
    delimiter string.  If maxsplit is given, at most maxsplit
    splits are done. If sep is not specified or is None, any
    whitespace string is a separator and empty strings are removed
    from the result.

None
['Tcloud', 'IT', 'Private', 'Limited']
['Tcloud ', ' Private Limited']

In [34]:
a = "Tcloud IT Private Limited \n Hyderabad \n India"
print help(a.splitlines)

print a.splitlines() #splits at line ending symbol \n

Help on built-in function splitlines:

splitlines(...)
    S.splitlines(keepends=False) -> list of strings

    Return a list of the lines in S, breaking at line boundaries.
    Line breaks are not included in the resulting list unless keepends
    is given and true.

None
['Tcloud IT Private Limited ', ' Hyderabad ', ' India']

In [35]:
a = "Tcloud IT Private Limited \n Hyderabad \nIndia The Great"
print help(a.startswith)

print a.startswith('Tcloud')

Help on built-in function startswith:

startswith(...)
    S.startswith(prefix[, start[, end]]) -> bool

    Return True if S starts with the specified prefix, False otherwise.
    With optional start, test S beginning at that position.
    With optional end, stop comparing S at that position.
    prefix can also be a tuple of strings to try.

None
True

In [36]:
a = "   Tcloud IT Private Limited  "
print help(a.strip)

print a.strip()
print a.strip('   T')

Help on built-in function strip:

strip(...)
    S.strip([chars]) -> string or unicode

    Return a copy of the string S with leading and trailing
    whitespace removed.
    If chars is given and not None, remove characters in chars instead.
    If chars is unicode, S will be converted to unicode before stripping

None
Tcloud IT Private Limited
cloud IT Private Limited

In [37]:
a = "Tcloud IT Private Limited"
print help(a.swapcase)

print a.swapcase()

Help on built-in function swapcase:

swapcase(...)
    S.swapcase() -> string

    Return a copy of the string S with uppercase characters
    converted to lowercase and vice versa.

None
tCLOUD it pRIVATE lIMITED

In [38]:
a = "tcloud information technologies private limited"
print help(a.title)

print a.title()

Help on built-in function title:

title(...)
    S.title() -> string

    Return a titlecased version of S, i.e. words start with uppercase
    characters, all remaining cased characters have lowercase.

None
Tcloud Information Technologies Private Limited

In [39]:
from string import maketrans

a = "tcloud information technologies private limited"
print help(a.translate)

translation_table1 = maketrans('i', 'I') # All 'i' present in the string are translated with 'I'
translation_table2 = maketrans('cloud', 'CLOUD') # Any letters in 'cloud' present in the string are translated with 'CLOUD' respectively

print a.translate(translation_table1)
print a.translate(translation_table2)

Help on built-in function translate:

translate(...)
    S.translate(table [,deletechars]) -> string

    Return a copy of the string S, where all characters occurring
    in the optional argument deletechars are removed, and the
    remaining characters have been mapped through the given
    translation table, which must be a string of length 256 or None.
    If the table argument is None, no translation is applied and
    the operation simply removes the characters in deletechars.

None
tcloud InformatIon technologIes prIvate lImIted
tCLOUD infOrmatiOn teChnOLOgies private LimiteD

In [40]:
a = "tcloud information technologies private limited"
print help(a.upper)

print a.upper()

Help on built-in function upper:

upper(...)
    S.upper() -> string

    Return a copy of the string S converted to uppercase.

None
TCLOUD INFORMATION TECHNOLOGIES PRIVATE LIMITED

In [41]:
a = "tcloud"
print help(a.zfill)

print a.zfill(15)

Help on built-in function zfill:

zfill(...)
    S.zfill(width) -> string

    Pad a numeric string S with zeros on the left, to fill a field
    of the specified width.  The string S is never truncated.

None
000000000tcloud

In [42]:
#Using string format method for Effective 'print'ing operation

b = "tcloud"
c = "worldwide"

print "We are studying Python at b"
print "we are studying Python at %s"%(b)
print "we are studying Python at %s and %s is physically located at Hyderabad"%(b,b)
#print "we are studying Python at %s and %s is physically located at Hyderabad but teaches %s"%(b,c) #TypeError: not enough arguments for format string
print "we are studying Python at %s and %s is physically located at Hyderabad but teaches %s!"%(b,b,c)

print "We are {}"
print "we are {}".format(b)
#print "we are {} and {} is located at hyderabad".format(b) #IndexError: tuple index out of range
print "we are {} and {} is located at hyderabad".format(b,b)
print "we are {0} and {0} is located at hyderabad".format(b)
print "We are {0} and {0} is located at hyderbad but teaches {1}!".format(b,c)

We are studying Python at b
we are studying Python at tcloud
we are studying Python at tcloud and tcloud is physically located at Hyderabad
we are studying Python at tcloud and tcloud is physically located at Hyderabad but teaches worldwide!
We are {}
we are tcloud
we are tcloud and tcloud is located at hyderabad
we are tcloud and tcloud is located at hyderabad
We are tcloud and tcloud is located at hyderbad but teaches worldwide!

In [43]:
d = ("Tcloud", "Hyderabad", "Worldwide")
e = "we are studying Python at %s and TCLOUD is physically located at %s but teaches %s!"

print e%d

we are studying Python at Tcloud and TCLOUD is physically located at Hyderabad but teaches Worldwide!

In [44]:
d = ("Tcloud", "Hyderabad", "Worldwide")
e = "we are studying Python at {} and TCLOUD is physically located at {} but teaches {}!"

print e.format(d[0], d[1], d[2])

we are studying Python at Tcloud and TCLOUD is physically located at Hyderabad but teaches Worldwide!

In [45]:
f = ("Hyderabad", "Delhi", "Bombay", "Kolkata", "Vijayawada")
g = "%s 21\n%s 24\n%s 34\n%s 37\n%s 31"
h = "%10s 21\n%10s 24\n%10s 34\n%10s 37\n%10s 31"

print g%f
print h%f

Hyderabad 21
Delhi 24
Bombay 34
Kolkata 37
Vijayawada 31
 Hyderabad 21
     Delhi 24
    Bombay 34
   Kolkata 37
Vijayawada 31