In [1]:
#Sequence - group of homogeneous/hetrogeneous elements

In [2]:
#list - group of homogeneous/hetrogeneous elements with automatic python indexing 
a = [10,20,30,40,50,60] #+ve index: 0,1,2,3,4,5 -ve index:-6,-5,-4,-3,-2,-1

#tuple - group of homogeneous/hetrogeneous elements with automatic python indexing 
b = (10,20,30,40,50,60) #+ve index: 0,1,2,3,4,5 -ve index:-6,-5,-4,-3,-2,-1

In [3]:
print a, type(a)
print b, type(b)

[10, 20, 30, 40, 50, 60] <type 'list'>
(10, 20, 30, 40, 50, 60) <type 'tuple'>

In [4]:
#Reading
print a[3], a[-6]
print b[4], b[-2]

40 10
50 50

In [5]:
#Modify 
a[5] = 61
print a

[10, 20, 30, 40, 50, 61]

In [6]:
b[5] = 61
print b

TypeError: 'tuple' object does not support item assignment

In [7]:
#list is mutable but tuple is immutable

In [8]:
#re-assignement
a = [10, 20, 30, 40, 50, 62]
b = (10, 20, 30, 40, 50, 62)
print a
print b

[10, 20, 30, 40, 50, 62]
(10, 20, 30, 40, 50, 62)

In [9]:
#deletion
a.remove(62)
print a

[10, 20, 30, 40, 50]

In [10]:
b.remove(62)
print b

AttributeError: 'tuple' object has no attribute 'remove'

In [11]:
#only modification acceptable is re-assignment
b = (10, 20, 30, 40, 50)
print b

(10, 20, 30, 40, 50)

In [12]:
print type(b)

<type 'tuple'>

In [13]:
b = 10
print b, type(b)

10 <type 'int'>

In [14]:
b = "tcloud"
print b, type(b)

tcloud <type 'str'>

In [15]:
b = [10, 20, 30, 40, 50]
print b, type(b)

[10, 20, 30, 40, 50] <type 'list'>

In [16]:
a = [1, 8.62, 5+7j, "tcloud"]
b = (1, 8.62, 5+7j, "tcloud")

print a, type(a)
print b, type(b)

[1, 8.62, (5+7j), 'tcloud'] <type 'list'>
(1, 8.62, (5+7j), 'tcloud') <type 'tuple'>

In [17]:
c = [10,20,30,40,50,[60, 70]] 
print c, type(c)

[10, 20, 30, 40, 50, [60, 70]] <type 'list'>

In [18]:
print type(c[0])

<type 'int'>

In [19]:
print type(c[5])

<type 'list'>

In [20]:
print c[5]

[60, 70]

In [21]:
print c[5][0], c[5][1]

60 70

In [22]:
c[5][1] = 71
print c

[10, 20, 30, 40, 50, [60, 71]]

In [23]:
c[5] = 72
print c

[10, 20, 30, 40, 50, 72]

In [24]:
d = (10, 20, 30, 40, 50, (60, 71))
print d
print d[0]
print d[5]
print d[5][0]

(10, 20, 30, 40, 50, (60, 71))
10
(60, 71)
60

In [25]:
d[5][1] = 72

TypeError: 'tuple' object does not support item assignment

In [26]:
e = [10, 20, 30, 40, 50, (60, 71)]
print e

[10, 20, 30, 40, 50, (60, 71)]

In [27]:
e[3] = 45
print e

[10, 20, 30, 45, 50, (60, 71)]

In [28]:
e[5][1] = 72

TypeError: 'tuple' object does not support item assignment

In [29]:
e[5] = (60,72)
print e

[10, 20, 30, 45, 50, (60, 72)]

In [30]:
f = (10, 20, 30, 40, 50, [60, 71])
print f

(10, 20, 30, 40, 50, [60, 71])

In [31]:
f[3] = 45

TypeError: 'tuple' object does not support item assignment

In [32]:
f[5] = [60,72]

TypeError: 'tuple' object does not support item assignment

In [33]:
f[5][1] = 73
print f

(10, 20, 30, 40, 50, [60, 73])

In [34]:
#set - group of homo/hetrogeneous data elements - with no python indexing

In [35]:
g = {10,20,30,40,50,60}
print g, type(g)

set([40, 10, 50, 20, 60, 30]) <type 'set'>

In [36]:
print g[0]

TypeError: 'set' object does not support indexing

In [37]:
#sets are mutable object

In [38]:
g.pop()
print g

set([10, 50, 20, 60, 30])

In [39]:
#dictionary - group of homo/hetrogeneous data elements - with human indexing

In [40]:
h = {'A':10, "B":20, 'c':30, 'erhueh37y74#$#$sdf;':40, "Tomotoprice":50, "Place": 'Hyderabad'}
print h, type(h)

{'A': 10, 'erhueh37y74#$#$sdf;': 40, 'c': 30, 'B': 20, 'Place': 'Hyderabad', 'Tomotoprice': 50} <type 'dict'>

In [41]:
print h['Place']

Hyderabad

In [42]:
i = {1:10, 2:20, 3:30, 4:40, 5:50, 6:60}
print i, type(i)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60} <type 'dict'>

In [43]:
print i[1]

10

In [44]:
a = list()
b = tuple()
c = set()
d = dict()
print a,b,c,d

[] () set([]) {}

In [45]:
#we can modify a,c,d to have elements but we can't insert elements into b

In [46]:
#list methods

In [47]:
k = [10, "tcloud", True, 3.1415, 0x1234]
print k, type(k)

[10, 'tcloud', True, 3.1415, 4660] <type 'list'>

In [48]:
print dir(k)

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__delslice__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getslice__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__setslice__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [49]:
print k[1]
print k.__getitem__(1)

tcloud
tcloud

In [50]:
k.append(102)
print k

[10, 'tcloud', True, 3.1415, 4660, 102]

In [51]:
#slicing
print k[0:3]

[10, 'tcloud', True]

In [52]:
l = (10, "tcloud", True, 3.1415, 0x1234)
print l, type(l)
print dir(l)

(10, 'tcloud', True, 3.1415, 4660) <type 'tuple'>
['__add__', '__class__', '__contains__', '__delattr__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getslice__', '__gt__', '__hash__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [53]:
print l.count(True)
print l.index(3.1415)

1
3

In [54]:
m = {10, "tcloud", True, 3.1415, 0x1234}
print m, type(m)
print dir(m)

set(['tcloud', 10, 4660, 3.1415, True]) <type 'set'>
['__and__', '__class__', '__cmp__', '__contains__', '__delattr__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [55]:
m.add(2500)
print m

set(['tcloud', 3.1415, 2500, True, 10, 4660])

In [56]:
n = {1:10, 2:20, 3:30}
print n , type(n)
print dir(n)

{1: 10, 2: 20, 3: 30} <type 'dict'>
['__class__', '__cmp__', '__contains__', '__delattr__', '__delitem__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'has_key', 'items', 'iteritems', 'iterkeys', 'itervalues', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values', 'viewitems', 'viewkeys', 'viewvalues']

In [57]:
print n.has_key(4)

False

In [58]:
print n.has_key(3)

True