In [42]:
#Methods

In [43]:
k = [10,"tcloud", True, 3.1415, 0x1234] #hetro
print k, type(k)

[10, 'tcloud', True, 3.1415, 4660] <type 'list'>

In [44]:
print dir(k)

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__delslice__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getslice__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__setslice__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [45]:
print k[1] #[] is the operator to represent index
print k.__getitem__(1)

tcloud
tcloud

In [46]:
z = 10
print dir(z)

['__abs__', '__add__', '__and__', '__class__', '__cmp__', '__coerce__', '__delattr__', '__div__', '__divmod__', '__doc__', '__float__', '__floordiv__', '__format__', '__getattribute__', '__getnewargs__', '__hash__', '__hex__', '__index__', '__init__', '__int__', '__invert__', '__long__', '__lshift__', '__mod__', '__mul__', '__neg__', '__new__', '__nonzero__', '__oct__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'imag', 'numerator', 'real']

In [47]:
print z+15 # + is the operator which is used humans to represent addition
print z.__add__(15)

25
25

In [48]:
k.append(20)
print k

[10, 'tcloud', True, 3.1415, 4660, 20]

In [49]:
k.append(10)
k

[10, 'tcloud', True, 3.1415, 4660, 20, 10]

In [50]:
print k.count(10)

2

In [51]:
l = [30,40,50]
k.extend(l)
print k

[10, 'tcloud', True, 3.1415, 4660, 20, 10, 30, 40, 50]

In [52]:
k.index(True)

2

In [53]:
print k.index(True)

2

In [54]:
k.insert(6, 1010)
k

[10, 'tcloud', True, 3.1415, 4660, 20, 1010, 10, 30, 40, 50]

In [55]:
print k.pop()
k

50

[10, 'tcloud', True, 3.1415, 4660, 20, 1010, 10, 30, 40]

In [56]:
k.remove(1010)
k

[10, 'tcloud', True, 3.1415, 4660, 20, 10, 30, 40]

In [57]:
k.reverse()
k

[40, 30, 10, 20, 4660, 3.1415, True, 'tcloud', 10]

In [58]:
k.sort()
k

[True, 3.1415, 10, 10, 20, 30, 40, 4660, 'tcloud']

In [59]:
#slicing
k[0:3] #0 till 3

[True, 3.1415, 10]

In [60]:
k[4:]

[20, 30, 40, 4660, 'tcloud']

In [61]:
print k[:]

[True, 3.1415, 10, 10, 20, 30, 40, 4660, 'tcloud']

In [62]:
k[3:6]

[10, 20, 30]

In [63]:
m = (10,"tcloud", True, 3.1415, 0x1234) #hetro
print m, type(m)

(10, 'tcloud', True, 3.1415, 4660) <type 'tuple'>

In [64]:
print dir(m)

['__add__', '__class__', '__contains__', '__delattr__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getslice__', '__gt__', '__hash__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [66]:
print m.count(10)
m.index(True)

1

2

In [67]:
n = {10,"tcloud", True, 3.1415, 0x1234} #hetro
print n, type(n)

set(['tcloud', 10, 4660, 3.1415, True]) <type 'set'>

In [68]:
print dir(n)

['__and__', '__class__', '__cmp__', '__contains__', '__delattr__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [69]:
n.add(20)
n

{True, 3.1415, 10, 20, 4660, 'tcloud'}

In [70]:
n.clear()
n

set()

In [71]:
n = {10,"tcloud", True, 3.1415, 0x1234} #hetro
print n, type(n)

set(['tcloud', 10, 4660, 3.1415, True]) <type 'set'>

In [72]:
m = n.copy() #shallow copy
print m, type(m)

set(['tcloud', 10, 4660, 3.1415, True]) <type 'set'>

In [73]:
p = {10, "tcloud", True}
print n.difference(p)

set([3.1415, 4660])

In [74]:
n.difference_update(p)
n

{3.1415, 4660}

In [75]:
n.discard(4660)
n

{3.1415}

In [76]:
n = {10,"tcloud", True, 3.1415, 0x1234}
p = {10, "tcloud", True, 20}

In [77]:
print n.intersection(p)
print n
print p

set(['tcloud', 10, True])
set(['tcloud', 10, 4660, 3.1415, True])
set(['tcloud', 10, 20, True])

In [80]:
n.intersection_update(p)
print n
print p

set(['tcloud', 10, True])
set(['tcloud', 10, 20, True])

In [81]:
n.isdisjoint(p)

False

In [82]:
n.issubset(p)

True

In [83]:
p.issubset(n)

False

In [84]:
p.issuperset(n)

True

In [85]:
n.issuperset(p)

False

In [86]:
n = {10,"tcloud", True, 3.1415, 0x1234}
p = {10, "tcloud", True, 20}

In [87]:
n.pop()

'tcloud'

In [88]:
n.remove(3.1415)
n

{True, 10, 4660}

In [89]:
n = {10,"tcloud", True, 3.1415, 0x1234}
p = {10, "tcloud", True, 20, 994}
print n.symmetric_difference(p)

set([4660, 3.1415, 20, 994])

In [90]:
n.symmetric_difference_update(p)
n

{3.1415, 20, 994, 4660}

In [91]:
n = {10,"tcloud", True, 3.1415, 0x1234, 556, 20, 27384, 347}
p = {10, "tcloud", True, 20, 994}
print n.union(p)

set(['tcloud', 3.1415, True, 10, 556, 994, 4660, 27384, 20, 347])

In [92]:
n.update(p)
print n

set(['tcloud', 3.1415, True, 10, 556, 994, 4660, 27384, 20, 347])

In [93]:
#dict methods

In [94]:
r = {'Name':"Ramesh", 'Age':30, 'Gender':"Male"}
print r, type(r)
print dir(r)

{'Gender': 'Male', 'Age': 30, 'Name': 'Ramesh'} <type 'dict'>
['__class__', '__cmp__', '__contains__', '__delattr__', '__delitem__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'has_key', 'items', 'iteritems', 'iterkeys', 'itervalues', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values', 'viewitems', 'viewkeys', 'viewvalues']

In [95]:
r.clear()
print r

{}

In [96]:
r = {'Name':"Ramesh", 'Age':30, 'Gender':"Male"}
s = r.copy() #shallow copy
print s

{'Gender': 'Male', 'Age': 30, 'Name': 'Ramesh'}

In [97]:
u = dict.fromkeys(r)
print u

{'Gender': None, 'Age': None, 'Name': None}

In [98]:
print r.get('Name')

Ramesh

In [99]:
print r['Name']

Ramesh

In [100]:
print r.has_key('Age')
print r.has_key('Salary')

True
False

In [101]:
print r.items()

[('Gender', 'Male'), ('Age', 30), ('Name', 'Ramesh')]

In [102]:
print r.iteritems()
print r.iterkeys()
print r.itervalues()

<dictionary-itemiterator object at 0x7f7d84fe2cb0>
<dictionary-keyiterator object at 0x7f7d84fe2cb0>
<dictionary-valueiterator object at 0x7f7d84fe2cb0>

In [103]:
print r.keys()

['Gender', 'Age', 'Name']

In [104]:
print r.pop('Age')
print r

30
{'Gender': 'Male', 'Name': 'Ramesh'}

In [105]:
print r.popitem()
print r

('Gender', 'Male')
{'Name': 'Ramesh'}

In [106]:
r = {'Name':"Ramesh", 'Age':30, 'Gender':"Male"}
r.setdefault('Salary')
print r

{'Salary': None, 'Gender': 'Male', 'Age': 30, 'Name': 'Ramesh'}

In [107]:
r.setdefault('Grade', "A")
print r

{'Salary': None, 'Gender': 'Male', 'Age': 30, 'Grade': 'A', 'Name': 'Ramesh'}

In [108]:
print r.values()

[None, 'Male', 30, 'A', 'Ramesh']

In [109]:
print r.viewitems()
print r.viewkeys()
print r.viewvalues()

dict_items([('Salary', None), ('Gender', 'Male'), ('Age', 30), ('Grade', 'A'), ('Name', 'Ramesh')])
dict_keys(['Salary', 'Gender', 'Age', 'Grade', 'Name'])
dict_values([None, 'Male', 30, 'A', 'Ramesh'])

In [110]:
s = {'Department':"Telecom"}
r.update(s)
print r

{'Salary': None, 'Department': 'Telecom', 'Name': 'Ramesh', 'Grade': 'A', 'Gender': 'Male', 'Age': 30}

In [ ]:
#End of Sequences