In [1]:
Parameter1 = input()  #input mechanism
print Parameter1      #output mechanism

345
345

In [2]:
Parameter2 = input("Please enter your Age:")  #input mechanism
print Parameter2      #output mechanism

Please enter your Age:25
25

In [3]:
Parameter3 = input("Please enter your Age:")  #input mechanism
print "The Age that you have entered is:", Parameter3      #output mechanism

Please enter your Age:35
The Age that you have entered is: 35

In [4]:
A1 = input("Please enter something you wish to enter:")
A2 = input("Please enter something you wish to enter:")
A3 = input("Please enter something you wish to enter:")
A4 = input("Please enter something you wish to enter:")
A5 = input("Please enter something you wish to enter:")
A6 = input("Please enter something you wish to enter:")

print A1, type(A1)
print A2, type(A2)
print A3, type(A3)
print A4, type(A4)
print A5, type(A5)
print A6, type(A6)

Please enter something you wish to enter:10
Please enter something you wish to enter:10.72
Please enter something you wish to enter:True
Please enter something you wish to enter:'tcloud'
Please enter something you wish to enter:"tcloud it"
Please enter something you wish to enter:3+4j
10 <type 'int'>
10.72 <type 'float'>
True <type 'bool'>
tcloud <type 'str'>
tcloud it <type 'str'>
(3+4j) <type 'complex'>

In [ ]:
#input function identifies the data type

In [5]:
A1 = raw_input("Please enter something you wish to enter:")
A2 = raw_input("Please enter something you wish to enter:")
A3 = raw_input("Please enter something you wish to enter:")
A4 = raw_input("Please enter something you wish to enter:")
A5 = raw_input("Please enter something you wish to enter:")
A6 = raw_input("Please enter something you wish to enter:")

print A1, type(A1)
print A2, type(A2)
print A3, type(A3)
print A4, type(A4)
print A5, type(A5)
print A6, type(A6)

Please enter something you wish to enter:10
Please enter something you wish to enter:10.72
Please enter something you wish to enter:True
Please enter something you wish to enter:'tcloud'
Please enter something you wish to enter:"tcloud it"
Please enter something you wish to enter:3+4j
10 <type 'str'>
10.72 <type 'str'>
True <type 'str'>
'tcloud' <type 'str'>
"tcloud it" <type 'str'>
3+4j <type 'str'>

In [6]:
#raw_input reads everything as a string-it automatically appends quotes

In [7]:
x = 10
y = '10'
z = "10"

print x, y, z

10 10 10

In [8]:
print type(x), type(y), type(z)

<type 'int'> <type 'str'> <type 'str'>

In [9]:
w = int(y)
print w, type(w)

10 <type 'int'>

In [10]:
v = "tcloud"
u = int(v)
print u, type(u)

ValueError: invalid literal for int() with base 10: 'tcloud'

In [11]:
print int('10')

10

In [12]:
A1 = int(raw_input("Please enter something you wish to enter:"))
A2 = float(raw_input("Please enter something you wish to enter:"))
A3 = bool(raw_input("Please enter something you wish to enter:"))
A4 = raw_input("Please enter something you wish to enter:")
A5 = str(raw_input("Please enter something you wish to enter:"))
A6 = complex(raw_input("Please enter something you wish to enter:"))

print A1, type(A1)
print A2, type(A2)
print A3, type(A3)
print A4, type(A4)
print A5, type(A5)
print A6, type(A6)

Please enter something you wish to enter:10
Please enter something you wish to enter:10.72
Please enter something you wish to enter:True
Please enter something you wish to enter:'tcloud'
Please enter something you wish to enter:"tcloud it"
Please enter something you wish to enter:3+4j
10 <type 'int'>
10.72 <type 'float'>
True <type 'bool'>
'tcloud' <type 'str'>
"tcloud it" <type 'str'>
(3+4j) <type 'complex'>

In [13]:
#this mechanism is called type conversion or typecasting

In [14]:
#input = typecast(raw_input)

In [15]:
print complex(3)

(3+0j)

In [16]:
print complex(3.43)

(3.43+0j)

In [17]:
#output Mechanisms

In [18]:
k = 10
l = 20

print k,l

10 20

In [19]:
k = 10
l = 20

print "The values of k,l respectively are:", k,l

The values of k,l respectively are: 10 20

In [22]:
k = 10
l = 20

print "The value of k is:", k, "The Value of l is:", l

The value of k is: 10 The Value of l is: 20

In [23]:
k = 10
l = 20

print "The value of k is:k The Value of l is:l"

The value of k is:k The Value of l is:l

In [24]:
k = 10
l = 20

print "The value of k is:%s The Value of l is:%s"%(k,l)

The value of k is:10 The Value of l is:20

In [25]:
k = 10
l = 20

print "The value of k is:{} The Value of l is:{}".format(k,l)

The value of k is:10 The Value of l is:20

In [26]:
a = "This is a string for modification by %s"
b = "tcloud"

print a%b

This is a string for modification by tcloud

In [27]:
a = "This is a string for modification by %s but two times %s"
b = "tcloud"

print a%b

TypeError: not enough arguments for format string

In [28]:
a = "This is a string for modification by %s but two times %s"
b = "tcloud"

print a%(b,b)

This is a string for modification by tcloud but two times tcloud

In [29]:
c = "this is %e datatype"
d = "tcloud"

print c%d

TypeError: float argument required, not str

In [30]:
a = "This is a string for modification by %s but two times %s"
b = 10

print a%(b,b)

This is a string for modification by 10 but two times 10

In [31]:
c = "this is %e datatype"
d = 10.72

print c%d

this is 1.072000e+01 datatype

In [32]:
c = "this is %e datatype"
d = 10

print c%d

this is 1.000000e+01 datatype

In [33]:
g = "This is a {}. this is another {}"
h = "string"

print g.format(h,h)

This is a string. this is another string

In [34]:
g = "This is a {}. this is another {}"
h = "string"

print g.format(h)

IndexError: tuple index out of range

In [35]:
g = "This is a {0}. this is another {0}"
h = "string"

print g.format(h)

This is a string. this is another string

In [36]:
g = "This is a {0}. this is another {0}. but this is done by {1}"
h = "string"
i = "tcloud"

print g.format(h,i)

This is a string. this is another string. but this is done by tcloud

In [37]:
m=10
n=20

print "m value is {}".format(m)
print "the value of n is {}. this value is used for something".format(n)

m value is 10
the value of n is 20. this value is used for something